<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.google.firebase.crashlytics.processing</string>
		<string>com.google.firebase.messaging.message-processing</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>SAES necesita acceso a tu calendario para agregar tu horario como eventos.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>SAES necesita acceso completo al calendario para crear eventos recurrentes de tu horario.</string>
	<key>NSCameraUsageDescription</key>
	<string>SAES necesita acceso a la cámara para escanear el código QR de tu credencial.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
