<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>saes_request_review</key>
	<string>false</string>
	<key>ipn_schedule_screen</key>
	<string>false</string>
	<key>ipn_news_screen</key>
	<string>false</string>
</dict>
</plist>
